<div class="card text-black" style="border-radius: 50px; background-color: #f1c7c7;">
  <div class="card-body p-md-5">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(220, 86%, 11%)">
              Welcome to CareerBuilder <br/>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(219, 56%, 48%)">
              In this platform you can setup your personal portfolio with all of your information like your
              your skills, education, experience and also your projects. You can also import your porfolio profile into your
              to any where for your advantage.
          </p>
      </div>
      <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
          class="img-fluid" alt="Sample image">
      </div>
    </div>
  </div>
</div>