<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="jumbotron">
                <h1 class="display-4">Hello Estiack Ahmed Shaon</h1>
                <p class="lead">Here you can set your daily task as per your priority and you can also build up your online cv for sharing with the recruiters.</p>
                <hr class="my-4">
                <p>Let's start the journey.</p>
                <div>
                    <a class="btn btn-primary btn-lg" routerLink="/tasks" role="button">Daily Tasks</a>
                    <div class="space"></div>
                    <a class="btn btn-primary btn-lg" routerLink="/profile" role="button">Profile</a>
                </div>
            </div>    
        </div>
        <div class="col-sm">
            <img class="rounded-circle shadow-4-strong" alt="avatar2" src="assets/images/IMG_7676.JPG" style="width: auto; height: 270px;"/>
        </div>
    </div>
</div>
